# Executables
*.exe
rapinav2
rapina

# Test artifacts
*.test
debug.test

# Profiling files
*.prof

# Temporary files
*.tmp
*.log
tmp

# Configuration files
*.cfg
*.conf

# Databases
.bd/
*.db

# Build directories
bin/
target/

# Visual Studio Code workspace settings
.vscode/*

# Other specific files
on
*.xlsx
golangci*.y*ml
cover.out

# Credentials and token files
credentials.json
token.json
