<!doctype html>
<html>
  <head>
    <title>Select Empresas</title>
    <link rel="stylesheet" href="styles/style.css" />

    <!-- <script src="https://unpkg.com/htmx.org@1.9.11"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.11/dist/htmx.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Selecione as Empresas</h1>
      <form class="container" hx-post="/select" hx-target="#terminal">
        <select
          class="select"
          name="state_id"
          id="state_container"
          size="10"
          ondblclick="moveOption(this);"
          onkeypress="handleKeyPress(event);"
        >
          {{ range $index, $element := . }}
          <option data-index="{{ $index }}" value="{{ $element.CNPJ }}">
            {{ $element.Nome }}
          </option>
          {{ end }}
        </select>
        <select
          name="selected"
          id="selected"
          size="10"
          ondblclick="moveOption(this);"
          onkeypress="handleKeyPress(event);"
        ></select>
        <input type="hidden" id="allOptions" name="allOptions" />
        <div width="100%">
          <button class="btn1" type="submit">Criar relatórios</button>
          <button class="btn1" hx-get="#" hx-target="#selected">
            Atualizar Banco de Dados
          </button>
        </div>
      </form>

      <div id="terminal" class="terminal" width="100%"></div>

      <div
        id="files"
        hx-get="/files"
        hx-trigger="load, reloadFiles"
        width="100%"
        class="terminal"
      ></div>
    </div>

    <script src="scripts/script.js"></script>
  </body>
</html>
