<!doctype html>
<html>
  <head>
    <title>Rapina</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦅</text></svg>" />
    <link rel="stylesheet" href="assets/styles/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.11/dist/htmx.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1 id="title">Rapina</h1>
      <form class="container" hx-post="/select" hx-target="#terminal">
        <label for="state_container">
          Selecione as empresas para criar os relatórios:
        </label>
        <input
          type="text"
          id="filterInput"
          placeholder="Filtrar..."
          size="10"
          onkeyup="filterOptions(this);"
          oninput="mobileFilterOptions(this);" />
        <select
          class="select"
          name="state_id"
          id="state_container"
          size="10"
          oninput="mobileMoveOption(this);"
          ondblclick="moveOption(this);"
          onkeypress="handleKeyPress(event);">
          {{ range $index, $element := . }}
          <option data-index="{{ $index }}" value="{{ $element.CNPJ }}">
            {{ $element.Nome }}
          </option>
          {{ end }}
        </select>
        <select
          name="selected"
          id="selected"
          size="10"
          oninput="mobileMoveOption(this);"
          ondblclick="moveOption(this);"
          onkeypress="handleKeyPress(event);"></select>

        <input type="hidden" id="allOptions" name="allOptions" />

        <div id="buttons" width="100%">
          <button id="submit" class="btn1" type="submit">
            Criar relatórios
          </button>
          <button id="update" class="btn1" onclick="startEventSource(event);">
            Atualizar Banco de Dados
          </button>
        </div>
      </form>

      <div id="terminal" class="terminal" width="100%"></div>

      <div
        id="files"
        hx-get="/files"
        hx-trigger="load, reloadFiles"
        width="100%"
        class="terminal"></div>
    </div>

    <script src="assets/scripts/script.js"></script>
  </body>
</html>
