<!doctype html>
<html>
  <head>
    <title>Rapina</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦅</text></svg>" />
    <link rel="stylesheet" href="assets/styles/style.css" />

    <script src="https://unpkg.com/htmx.org@1.9.11"></script>

    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link
      href="https://unpkg.com/slim-select@latest/dist/slimselect.css"
      rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link -->
    <!--   href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap" -->
    <!--   rel="stylesheet" /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <img src="assets/images/rapina_logo2.png" alt="Rapina" width="25%" />

      <form class="container" hx-post="/select" hx-target="#terminal">
        <select id="empresas" class="slim-select" multiple>
          {{ range $index, $element := . }}
          <option data-index="{{ $index }}" value="{{ $element.CNPJ }}">
            {{ $element.Nome }}
          </option>
          {{ end }}
        </select>

        <input type="hidden" id="allOptions" name="allOptions" />

        <div id="buttons" width="100%">
          <button id="submit" class="btn1" type="submit">
            Criar relatórios
          </button>
          <button id="update" class="btn1" onclick="startEventSource(event);">
            Atualizar Banco de Dados
          </button>
        </div>
      </form>

      <div id="terminal" class="terminal" width="100%"></div>

      <div
        id="files"
        hx-get="/files"
        hx-trigger="load, reloadFiles"
        width="100%"
        class="terminal"></div>
    </div>

    <script src="assets/scripts/script.js"></script>
  </body>
</html>
